body {
    background-color: #2a2c38;
}

.voteHolder {
    margin-top: 50px;
    font-family: arial;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}

.voteHeader {
    color: #e2dfed;
    text-align: center;
}

.buttonsHolder {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.playButton {
    padding: 2px;
    width: 120px;
    height: 120px;
    background-color: #e2dfed;
    border-radius: 100%;
    cursor: pointer;
}

.playButton:hover {
    scale: 1.05;
    background-color: #bab7c3;
}

.playButton:active {
    scale: 0.95;
}

#voteRangeHolder {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#voteRange {
    position: relative;
    margin: 0;
    margin-top: 100px;
    width: 280px;
    scale: 2.0;
    cursor: pointer;
    color: #e2dfed;
}

.voteButtonHolder {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainButton {
    background-color: #e2dfed;
    padding: 12px 36px 12px 36px;
    border-radius: 6px;
    color: black;
    font-weight: 600;
    font-size: 2.0rem;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
}

.mainButton:hover {
    background-color: #bab7c3;
    scale: 1.05;
}

.mainButton:active {
    scale: 0.95;
}

#refreshButton {
    position: absolute; /*before voting*/
    visibility: hidden; /*before voting*/
}

#chordsInfo {
    color: #e2dfed;
    text-align: center;
    visibility: hidden; /* Make visible after voting */
}

#dataButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #e2dfed;
    padding: 6px 18px 6px 18px;
    border-radius: 6px;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
}

#dataButton:hover {
    background-color: #bab7c3;
    scale: 1.05;
}

#dataButton:active {
    scale: 0.95;
}

.volumeHolder {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.volumeHeader {
    color: #e2dfed;
}

#footer {
    width: 100%;
    height: 30px;
    border-top: 2px solid #434659;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
    justify-content: center;
    padding-top: 8px;
}

#footerGithub {
    color: #9a98d2;
    font-size: 20px;
}

#helpHints {
    position: relative;
    top: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 108px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: black;
    font-size: 16px;
    background-color: #9ca2c2;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }

  .helpHint:hover .tooltip-text {
    visibility: visible;
  }